@model To_Do_List.Models.AssignmentUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AssignmentUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vacancy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vacancy.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
